@import url('https://raw.githubusercontent.com/Rafa-MMf/destinyLuz/main/src/css/_reset.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #0b0f12;
}
  
::-webkit-scrollbar-thumb {
    background: #64b74a;    
    border-radius: 20px;
    border: 3px solid #0b0f12;
}

/*------------------------ Fundo */
.fundo-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}



.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,1) 100%);
}


/*------------------------ Cabeçalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 75px;
}

.cabecalho .menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 23px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s;
    border-color: #f5f5f5;
}

.cabecalho nav li a:hover {
    background-color: #dc5aa04d;
}

#btn-detalhes:hover {
    background-color: rgb(100 183 74 / 47%);
}



/*------------------------ Box */

.inicio {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 80vh;
    padding: 0 30px;
}

.informacoes {
    width: 60%;
}

.inicio .imagem-titulo {
    max-width: 500px;
}

.inicio .descricao {
    color: #a8adb7;
    font-size: 18px;
    margin: 30px 0;
    line-height: normal;
}

.inicio .botao-trailer {
    background-color: #dc5aa04d;
    color: #ffffff;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}

.inicio .botao-trailer:hover {
    transform: scale(1.1)
}

.img--principal {
    width: 40%;
    margin-top: -25%;
}

.img--principal img {
    position: absolute;
}

/*------------------------ Img animate */
@keyframes movimento-img {
    to {
      transform: translate(4px, -8px);
    }
}

@keyframes movimento-img2 {
    to {
      transform: translate(-4px, 8px);
    }
}

.animate{
    animation: movimento-img 2.5s ease-in-out infinite alternate;
}

.animate2{
    animation: movimento-img2 2.5s ease-in-out infinite alternate;
}

/*------------------------ Modal */

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(52, 52, 50, 0.749);
    opacity: 0;
    visibility: hidden;
}

.conteudo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap: 15px;
}

.fechar-modal {
    background-color: #dc5aa04d;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    padding: 5px 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}

.fechar-modal:hover {
    transform: scale(1.2);
    background-color: #da5252;
}

.modal iframe {
    border-width: 0;
    width: 80%;
    height: 80%;
}

.modal.aberto {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

/*------------------------ Detalhes */

#detalhes {
    background-image: url(./../img/banner2.jpg);
    height: 100vh;
    background-position: center;
}

.box--preto {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    padding: 0px 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

.box--preto-borda {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgba(220,90,160,.5),transparent);
}

.box--preto-texto {
    font-size: 25px;
    color: #fff;
    padding: 30px 0;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.title--principal {
    -webkit-background-clip: text;
    background-repeat: repeat;
    background-clip: text;
    background-size: 2752px 230px;
    color: transparent;
    -webkit-animation: BackgroundSlide 25s linear infinite;
    animation: BackgroundSlide 25s linear infinite;
}

.title--principal {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    transform: translate(1%,-52%);
    font-size: 14rem;
    letter-spacing: 0rem;
    font-weight: 700;
    white-space: nowrap;
    width: 90%;
}


@keyframes BackgroundSlide
{
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -2752px 0;
	}
}


.box--detalhes {
    margin: 300px 100px;
}

.title--sec {
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 5px;
    margin-bottom: .5rem;
    text-shadow: 0 0 .5rem rgba(0,0,0,.9);
    color: #fff;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.div--linha {
    height: 4px;
    width: 9rem;
    background-color: #64b74a;
}

.detalhes--texto {
    font-size: 1.2rem;
    color: #e6e6e6;
    max-width: 800px;
    margin: 1rem 0 0;
    line-height: 1.2em;
}

/*------------------------ Rodapé */

.box--preto-borda2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(90deg,transparent,#64b74a,transparent);
}

.rodape {
    padding: 150px 0;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    text-transform: initial;
    line-height: normal;
    font-weight: 100;
}
#link-b {
    font-weight: bold;
}

#link-b:hover {
    color: #64b74a;
}

.rodape img {
    max-width: 200px;
    margin: 40px 0;
}

/*------------------------ Mobiles */

@media (max-width: 1095px) {
    .inicio {
        flex-direction: column;
    }

    .inicio .imagem-titulo {
        margin: 0 20%;
    }

    .informacoes{
        margin-top: 50px;
        width: 90%;
    }

    .img--principal {
        width: 70%;
        margin-top: 50px;
        margin-left: -10%;
    }

    .title--principal {
        font-size: 9rem;
        width: auto;
    }

    .title--sec {
        font-size: 4rem;
    }

    .rodape {
        font-size: 18px;
    }
}

@media (max-width: 955px) {
    .title--principal {
        font-size: 7rem;
    }

    .inicio .imagem-titulo {
        margin: 0 8%;
    }

}

@media (max-width: 700px) {

    .cabecalho .logo {
        margin-left: 20px;
    }

    .cabecalho nav li a, .inicio .descricao {
        font-size: 20px;
    }

    .img--principal {
        width: 100%;
        margin-left: -20%;
    }

    .inicio .imagem-titulo {
        margin: 0 auto;
        width: 100%;
    }

    #detalhes {
        background-position: 10% bottom;
    }

    .box--detalhes {
        margin: 200px 30px;
    }

    .title--principal {
        font-size: 5rem;
        white-space: initial;
    }

    .title--sec {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 3px;
    }

    .inicio {
        height: 100vh;
    }

}