@import url(_reset.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*------------------------ Fundo */
.fundo-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video .video {
    height: 100vh;
}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,1) 100%);
}


/*------------------------ Cabeçalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 75px;
}

.cabecalho .menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 23px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.2s;
    border-color: #f5f5f5;
}

.cabecalho nav li a:hover {
    background-color: rgb(222 116 209 / 47%);
}



/*------------------------ Box */

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 135px);
    padding: 0 30px;
}

.container .imagem-titulo {
    max-width: 500px;
}

.container .descricao {
    color: #a8adb7;
    width: 80%;
    font-size: 18px;
    margin: 30px 0;
    line-height: normal;
}

.container .botao-trailer {
    background-color: rgb(231 106 117 / 57%);
    color: #ffffff;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}

.container .botao-trailer:hover {
    transform: scale(1.1)
}

.img--principal {
    width: 800px;
    position: relative;
    top: -25%;
    right: 20%;
}

.img--principal img {
    position: absolute;
}

/*------------------------ Modal */

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(52, 52, 50, 0.749);
    opacity: 0;
    visibility: hidden;
}

.conteudo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap: 15px;
}

.fechar-modal {
    background-color: #da52a6;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    padding: 5px 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}

.fechar-modal:hover {
    transform: scale(1.2);
    background-color: #da5252;
}

.modal iframe {
    border-width: 0;
    width: 80%;
    height: 80%;
}

.modal.aberto {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

/*------------------------ Detalhes */

#detalhes {
    background-image: url(https://images.contentstack.io/v3/assets/blte410e3b15535c144/bltc113712a82235ab7/6303fee8456d687d3d3bf265/lightfall-media-shot-5-full.jpg);
    height: 100vh;
    background-position-y: bottom;
}

.box--preto {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    z-index: 0;
    padding: 0px 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

.box--preto-borda {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgba(220,90,160,.5),transparent);
}

.box--preto-texto {
    font-size: 25px;
    color: #fff;
    padding: 30px 0;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.title--principal {
    -webkit-background-clip: text;
    background-repeat: repeat;
    background-clip: text;
    background-size: 2752px 230px;
    color: transparent;
    -webkit-animation: BackgroundSlide 25s linear infinite;
    animation: BackgroundSlide 25s linear infinite;
}

.title--principal {
    z-index: 1;
    position: absolute;
    -webkit-transform: translate(-5%,-50%);
    transform: translate(2%,-52%);
    font-size: 14rem;
    letter-spacing: 0rem;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
}


@keyframes BackgroundSlide
{
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -2752px 0;
	}
}


.box--detalhes {
    margin: 300px;
}

.title--sec {
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 5px;
    margin-bottom: .5rem;
    text-shadow: 0 0 .5rem rgba(0,0,0,.9);
    color: #fff;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.div--linha {
    height: 4px;
    width: 9rem;
    background-color: #64b74a;
}

.detalhes--texto {
    font-size: 1.4rem;
    color: #e6e6e6;
    max-width: 44rem;
    margin: 1rem 0 0;
    line-height: 1.2em;
}